﻿@model ForumApplication.Models.TopicModel
@{
    ViewBag.Title = "Topic Details";
    var action = Model.TopicId > 0 ? "EditTopic" : "AddNewTopic";
    var header = Model.TopicId > 0 ? "Edit Topic" : "Create Topic";
    var buttonText = Model.TopicId > 0 ? "Save" : "Create";
    var isAuthenticated = ViewBag.IsAuthenticated;
    var isTopicStarter = ViewBag.IsTopicStarter;
    //var summerNoteStatus = isTopicStarter & isAuthenticated ? "enable" : "disable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    @Styles.Render("~/Content/summernote")
    @*<link href="~/Content/jquery-ui.css" rel="stylesheet">*@
}
<div class="container body-content">
    <div class="container body-content" style="padding-top: 15px;">
        <div class="col-md-4">
            @Html.Action("GetUserDetails", "TopicStarter", new { topicStarterId = @Model.TopicStarterId })
        </div>
        <div class="col-md-8">
            @using (Html.BeginForm(action, "Topic", FormMethod.Post, new { @class = "form-horizontal", @id = "editTopic" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.TopicId)
                @Html.HiddenFor(m => m.TopicStarterId)
                <div class="form-group">
                    @if (isTopicStarter)
                    {
                        <div style="display: flex; justify-content: space-between;">
                            <h4>@header</h4>
                            @Html.ActionLink("Delete Topic", "DeleteTopic", "Topic", new { topicId = Model.TopicId }, new { @class = "btn btn-danger", @style = "height: 33px;" })
                        </div>
                        <hr />
                        @Html.LabelFor(m => m.TopicName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.TopicName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TopicName, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        <h3 class="text-center">@Html.DisplayTextFor(m => m.TopicName)</h3>
                    }
                </div>
                <div class="form-group">
                    @if (isTopicStarter)
                    {
                        @Html.LabelFor(m => m.TopicMessage, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.TopicMessage, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TopicMessage, "", new { @class = "text-danger" })
                    }
                    else
                    {
                        @Html.Raw(@Model.TopicMessage)
                    }
                </div>

                if (isTopicStarter && Model.TopicId > 0)
                {
                    <div class="form-group" style="text-align: center;">
                        <input type="submit" value="@buttonText" class="btn btn-primary" style="width: 75px;" />
                        <button type="button" id="btnAnswer" class="btn btn-info">Answer</button>
                    </div>
                }
                if (isTopicStarter && Model.TopicId == 0)
                {
                    <div class="form-group">
                        <input type="submit" value="@buttonText" class="btn btn-primary" />
                    </div>
                }

                if (!isTopicStarter & isAuthenticated)
                {
                    <div class="form-group text-right">
                        <button type="button" id="btnAnswer" class="btn btn-primary">Answer</button>
                    </div>
                }
                if (isAuthenticated)
                {
                    <div id="addNewComment" style="z-index: 500; height: 275px;">
                        @Html.Action("AddNewTopicComment", "TopicComment", new { topicId = Model.TopicId })
                    </div>
                }
            }
        </div>
    </div>
    <div>
        @Html.Action("GetTopicComments", "TopicComment", new { topicId = Model.TopicId })
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/summernote")
    @Scripts.Render("~/bundles/jquery-ui")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#TopicMessage").summernote({
            height: 200,
            focus: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
                ['view', ['codeview']]
            ]
        });
    });
    $(document).ready(function () {
        $("#addNewComment").dialog({
            autoOpen: false,
            height: 380,
            width: 800,
            title: "Comment Editor",
            show: {
                effect: "blind",
                duration: "1000"
            },
            hide: {
                effect: "explode",
                duration: "1000"
            },
            modal: false,
            resizable: false,
            dialogClass: 'no-close success-dialog',
            position: { my: "center", at: "bottom", of: window }
        });
        $("#btnAnswer").click(function () {
            $("#addNewComment").dialog("open");
        });
        $("div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.no-close.success-dialog.ui-draggable.ui-resizable")
            .attr('id', 'modalCmtEdt');
    }
    );
</script>
