﻿@model IEnumerable<Forum.Core.Models.Topic>
@{
    ViewBag.Title = "Home Page";
    var isAuthenticated = ViewBag.IsAuthenticated;
    var tsNamesDict = ViewBag.NamesDict;
    var cmtQtyDict = ViewBag.CommentsQtyDict;
    var lastCmtDate = ViewBag.LastCommentDict;
    var tableCol = isAuthenticated ? "col-md-8" : "col-md-10";
}

<div class="row">
    <div class="col-md-2">
        <h2 style="text-align: center;">Users</h2>
        @if (Model.Any())
        {
            <div class="usersList">
                @foreach (var m in ViewBag.Members)
                {
                <div class="userItem btn btn-sm btn-default" style="margin: 5px 5px 0 5px;">
                    @m.TopicStarterNick
                    <div class="userInfo">
                        @Html.Action("GetUserDetails", "TopicStarter", new { topicStarterId = m.TopicStarterId })
                    </div>
                </div>
                    
                }
            </div>
        }
        else
        {
        @:No Members
        }

    </div>
    <div class=@tableCol>
        <h2 style="text-align: center;">Topics List</h2>
        @if (Model.Any())
        {
            <table class="table" id="main-table">
                <thead>
                <tr>
                    <th>Topic</th>
                    <th>Topic Date</th>
                    <th>Topic Starter</th>
                    <th>Comments Qty.</th>
                    <th>Last Message</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var topic in Model)
                {
                    <tr id="topicId-@topic.TopicId">
                        <td>@Html.ActionLink(@topic.TopicName, "EditTopic", "Topic", new { topicId = topic.TopicId }, null)</td>
                        <td>@topic.TopicDateTime.ToShortDateString() @topic.TopicDateTime.ToShortTimeString()</td>
                        <td>@tsNamesDict[topic.TopicStarterId]</td>
                        <td>@cmtQtyDict[topic.TopicId]</td>
                        <td>@lastCmtDate[topic.TopicId]</td>
                    </tr>
                }
                </tbody>

            </table>
        }
        else
        {
            @:Forum not contains topics
        }


    </div>
    @if (isAuthenticated)
    {
    <div class="col-md-2">
        <h2 style="text-align: center;">Actions</h2>
        <p style="text-align: center; margin-top: 47px;">
            @Html.ActionLink("Create Topic", "CreateTopic", "", new { @class = "btn btn-default" })
        </p>
    </div>
     }
</div>