﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.no-close.success-dialog.ui-draggable.ui-resizable {
    z-index: 600;
    /*top: 25% !important;
    left: 25% !important;*/
    display: flex;
    flex-direction: column;
}

div.note-editable {
    height: 220px !important;
}



#addNewComment .ui-dialog .ui-dialog-content {
    padding: 0 !important;
}

div.note-editor.note-frame.panel {
    margin-bottom: 0 !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0 !important;
}

.note-btn-group.btn-group.note-insert button:nth-child(3) {
    display: none;
}

.note-btn-group.btn-group.note-view button:first-child,
.note-btn-group.btn-group.note-view button:last-child
{
    display: none;
}

.usersList {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 46px;
}

.userInfo {
    width: 300px;
    height: 300px;
    display: none;
}

.userInfo .img-thumbnail {
    padding: 0;
}

.userItem {
    position: relative;
}

    .userItem:hover > .userInfo {
        background-color: #ebebeb;
        border-color: #adadad;
        z-index: 999;
        display: block;
        position: absolute;
        width: 150px;
        height: 182px;
        left: 105%;
        top: 0%;
    }

.userInfo h4 {
    text-align: center;
}
.userInfo span {
    color: black;
}

.userInfo .list-group-item-text,
.userInfo .form-group {
    margin: 0 !important;
}

.userInfo .list-group-item-text {
        text-align: left;
    padding-left: 2px;
}

.userInfo .list-group-item-text div {
    margin-bottom: -5px;
}

.userItem:hover > .userInfo h4 {
    display: none;
}

.userInfo .container {
    padding: 0;
}

#main-table {
    text-align: center;
}

#main-table thead th {
    text-align: center;
}

#main-table tbody tr td:first-child {
    text-align: left;
    white-space: nowrap;
    overflow-y: visible;
    overflow-x: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 450px;
}

#btnEdit {
    width: 72px;
    margin: 20px 0 0 0;
}

#editTopic.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0; 
}