﻿@using Forum.Core.Models;
@model TopicComment[]
@{
    var commentOwnerId = ViewBag.CommentOwnerId;
}
@section head{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
}
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="container body-content">
            <hr />
            <div class="col-md-4">
                @Html.Action("GetUserDetails", "TopicStarter", new { topicStarterId = item.TopicStarterId })
            </div>
            <div class="col-md-8">
                <h6 class="text-right">
                    @Html.Raw(item.TopicCommentDateTime.ToShortDateString() + " " +
                                                  item.TopicCommentDateTime.ToShortTimeString())
                </h6>
                @Html.Raw(item.TopicCommentMessage)
                @if (commentOwnerId != null && item.TopicStarterId == commentOwnerId)
                {
                    <div class="form-group text-right" style="margin: 0;">
                        <button type="button" id="btnEdit" class="btn btn-primary">Edit</button>
                    </div>
                    <div id="editComment">
                        @Html.Action("EditTopicComment", "TopicComment", new { topicCommentId = item.TopicCommentId })
                    </div>
                }

            </div>
            <hr />
        </div>
    }
}
@section scripts{
    @Scripts.Render("~/bundles/jquery-ui")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#editComment").dialog({
            autoOpen: false,
            height: 380,
            width: 800,
            title: "Comment",
            show: {
                effect: "blind",
                duration: "1000"
            },
            hide: {
                effect: "explode",
                duration: "1000"
            },
            modal: false,
            resizable: false,
            dialogClass: 'no-close success-dialog'
        });
        $("#btnEdit").click(function () {
            $("#editComment").dialog("open");
            $('#TopicCommentMessage').summernote({
                height: 200,
                focus: true
            });
            //reuse
        });

    });
</script>
