﻿@model ForumApplication.Models.TopicCommentModel
@{
    ViewBag.Title = "Comment Details";
    var action = Model.TopicCommentId > 0 ? "EditTopicComment" : "AddNewTopicComment";
    var header = Model.TopicCommentId > 0 ? "Edit Comment" : "Create Comment";
    var buttonText = Model.TopicCommentId > 0 ? "Save" : "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    @Styles.Render("~/Content/summernote")
}

    @using (Html.BeginForm(action, "TopicComment", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.TopicCommentId)
        @Html.HiddenFor(m => m.TopicStarterId)
        @Html.HiddenFor(m => m.TopicId)
        <div class="form-group">
            @*<h4>@header</h4>*@
            @Html.TextAreaFor(m => m.TopicCommentMessage, new { @class = "form-control" })
        </div>
        <div class="form-group text-center" style="margin-bottom: 0;">
            <input type="submit" value="@buttonText" class="btn btn-primary" />
        </div>
    }

@section scripts{
    @Scripts.Render("~/bundles/summernote")
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#TopicCommentMessage').summernote({
            height: 200,
            focus: true
        });
    });
</script>