﻿@using Forum.Core.Enums
@model ForumApplication.Models.TopicStarterModel

@{
    ViewBag.Title = "User Details";
    var header = Model.TopicStarterId > 0 ? "Edit member" : "Add new member";
    var buttonText = Model.TopicStarterId > 0 ? "Save" : "Create";
    var action = Model.TopicStarterId > 0 ? "EditTopicStarter" : "AddNewTopicStarter";
    var rankEnumValue = Enum.GetName(typeof(ForumRankEnum), Model.ForumRankId).Replace("_", " ");
    var roleEnumValue = Enum.GetName(typeof(ForumRoleEnum), Model.ForumRoleId).Replace("_", " ");
}

<div class="container body-content" style="margin-top: 20px">
    @using (Html.BeginForm(action, "TopicStarter", FormMethod.Post, new { @class = "form-control-static", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div style="margin-left: 10px"><h4>@header</h4></div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TopicStarterId)
            <div class="form-group">
                @Html.LabelFor(model => model.TopicStarterNick, new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.TopicStarterNick, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TopicStarterNick, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.TopicStarterEmail, new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.TopicStarterEmail, new { htmlAttributes = new { @class = "form-control", disabled = "true"}})
                    @Html.HiddenFor(model=>model.TopicStarterEmail)
                    @Html.ValidationMessageFor(model => model.TopicStarterEmail, "", new { @class = "text-danger"})
                </div>

                @Html.LabelFor(model => model.ForumRankId, new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.ForumRankId, new { htmlAttributes = new { @class = "form-control", disabled = "true", Value = rankEnumValue } })
                    @Html.ValidationMessageFor(model => model.ForumRankId, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.ForumRoleId, new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom: 10px">
                    @Html.EditorFor(model => model.ForumRoleId, new { htmlAttributes = new { @class = "form-control", disabled = "true", Value = roleEnumValue } })
                    @Html.ValidationMessageFor(model => model.ForumRoleId, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Avatar, new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="margin-bottom: 10px">
                    <div style="position: relative;">

                        <a class='btn' href='javascript:;'>
                            Chose File...
                            <input type="file" name="Image" size="40" style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;"
                                   onchange='$("#upload-file-info").html($(this).val());' />
                        </a>
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>
                    @if (@Model.Avatar == null)
                    {
                    <img class="img-thumbnail" width="150" height="150" src=@Url.Content("~/Content/no-avatar.png") />
                    }
                    else
                    {
                        <img class="img-thumbnail" width="150" height="150" src=@Url.Action("GetAvatar", "TopicStarter", new {Model.TopicStarterId}) />
                    }
                </div>
                <div class="form-group" style="margin-left: 1px">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@buttonText" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

    }
</div>