﻿@using Forum.Core.Enums
@model ForumApplication.Models.TopicStarterModel
@{
    var rankEnumValue = Enum.GetName(typeof(ForumRankEnum), Model.ForumRankId).Replace("_", " ");
    var roleEnumValue = Enum.GetName(typeof(ForumRoleEnum), Model.ForumRoleId).Replace("_", " ");
}
<div class="container body-content">
    <div class="form-group">
        <h4 class="text-left">@Model.TopicStarterNick</h4>
        @if (@Model.Avatar == null)
        {
            <img class="img-thumbnail" width="150" height="150" src="~/Content/no-avatar.png" />
        }
        else
        {
            <img class="img-thumbnail" width="150" height="150" src=@Url.Action("GetAvatar", "TopicStarter", new {Model.TopicStarterId}) />
        }
    </div>
    <div class="list-group-item-text" style="margin-top: 20px">
        <div>
            @Html.Label("Role", new { @class = "text-info" })
            <span>@Html.Encode(@roleEnumValue)</span>
        </div>
        <div>
            @Html.Label("Rank", new { @class = "text-info" })
            <span>@Html.Encode(@rankEnumValue)</span>
        </div>
    </div>
</div>